<!DOCTYPE html>
<html lang="nl" dir="ltr">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#FFFFFF">
  <link rel="stylesheet" href="/css/app.css">
  <title>Portfolio website van Dennis Spierenburg</title>
</head>
<body>
<header>
  <div class="header-container">
    <h1>Dip Development</h1>
    <nav>
      <a href="#content" class="skip-content">Ga direct naar de content</a>
      <ul>
        <li>
          <a class="<% if(headerData == 'home'){ %> active <% } %>" href="/">Biografie</a>
        </li>
          <li>
            <a class="<% if(headerData == 'overzicht'){ %> active <% } %>" href="/projects">Werk</a>
          </li>
          <li>
            <a class="<% if(headerData == 'contact'){ %> active <% } %>" href="/contact">Contact</a>
          </li>
        </li>
      </ul>
    </nav>
  </div>
</header>
