<!DOCTYPE html>
<html lang="nl" dir="ltr">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#FFFFFF">
  <link rel="preload" href="/css/app.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="/css/app.css"></noscript>
</head>
<body>
<header>
  <nav>
    <ul>
      <li>
        <a class="<% if(headerData == 'home'){ %> active <% } %>" href="/">Biografie</a>
      </li>
        <li>
          <a class="<% if(headerData == 'overzicht'){ %> active <% } %>" href="/projects">Projects</a>
        </li>
        <li>
          <a class="<% if(headerData == 'contact'){ %> active <% } %>" href="/contact">Contact</a>
        </li>
      </li>
    </ul>
  </nav>
</header>
