<% include base/head.ejs %>
<main>
  <section class="bio">
    <h1>Dennis Spierenburg</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <div class="experience">
      <h2>Ervaring</h2>
      <p>
        Mijn werk ervaring is erg breed. Hieronder beschrijf ik een lijstje met talen / systemen waarmee ik heb gewerkt.
      </p>
      <h3>Kenniss</h3>
      <ul>
        <li>
          HTML
        </li>
        <li>
          CSS
        </li>
        <li>
          Javascript
        </li>
        <li>
          Node.js
        </li>
        <li>
          PHP
        </li>
        <li>
          MySQL
        </li>
        <li>
          WordPress
        </li>
        <li>
          Concrete
        </li>
      </ul>
    </div>
    <div class="work">
      <h3>Werk ervaring</h3>
      <p>
        Hier beschrijf ik waar ik werkzaam ben geweest in mijn carriere.
      </p>
      <ul>
        <li>
          ZZP
        </li>
        <li>
          Matise
        </li>
        <li>
          SpaSereen
        </li>
      </ul>
      <h3>Diploma's</h3>
      <ul>
        <li>
          Communication & Multimedia Design Propedeuse
        </li>
        <li>
          HAVO Diploma
        </li>
      </ul>
    </div>
    <div class="project-featured">
      <h2><%= data.name %></h2>
      <a href="/projects/<%= data.url %>">Link</a>
      <a href="/projects">Overzicht</a>
    </div>
  </section>
</main>
<% include base/footer.ejs %>
