@import
  "components/functions",
  "components/reset",
  "components/colors",
  "components/typhography";

@import
  "elements/navigation";
html{ scroll-behavior: smooth; }
body{ padding: 0; }
main{ margin-top: 80px; background: $background; min-height: calc(100vh - 80px); }
a:focus, a:hover{ text-decoration: underline; }
section, article{
  &.bio{ padding: 60px 0 40px;
    .bio{
      &-image{ position: absolute; right: 25px; top: 45px; width: calc(100% - 40rem - 25px); height: 100%; display: flex; justify-content: center; align-items: flex-start;
        &_photo{ display: block; width: 220px; height: 220px; border-radius: 50%; overflow: hidden; position: relative;
          img{ width: 100%; height: auto; border-radius: 50%; }
        }
      }
      &-info{ width: 100%; max-width: 40rem; padding: 0px 20px;
        .subTitle{ color: $grey-black; font-weight: $font-book; font-size: rem(20); }
        .title{ padding: 15px 15px; font-size: 3.5rem; letter-spacing: .5px; display: block; width: 100%; color: black; font-weight: $font-bold; line-height: 1; }
        p{ line-height: 1.5; color: $text; padding: 10px 0; font-size: rem(16); }
      }
    }
    .quote{ width: 100%; padding: 35px 0px; margin-left: 0; margin-top: 60px; position: relative; text-align: center;
      blockquote{ margin: 35px 25px; font-size: rem(26); line-height: 1.25; letter-spacing: .5px; font-weight: $font-book; color: $text; position: relative;
        p{
          &:before{ content: '“'; position: relative; left: 7px; }
          &:after{ content: '”';  position: relative; right: 7px; }
        }
      }
      .author{ position: absolute; top: calc(100% - 50px); left: 0; width: 100%;
        &-text{ font-size: 1.25rem; color: $grey-black; text-align: center; position: relative; left: -150px;
          &:before{ content: '-'; padding-right: 10px; }
        }
      }
    }
  }
  &.experience{ padding: 60px 0;
    .experience{
      &-header{ width: 100%; display: flex; justify-content: center; flex-direction: column; align-items: center;
        h2{ font-size: 2.5rem; font-weight: $font-book; }
        p{ max-width: 40rem; line-height: 1.5; color: $text; padding: 10px 0; text-align: center; }
      }
      &-container{ width: 100%; max-width: 50em; margin: 35px auto; padding: 30px; box-shadow: 0px 0px 5px 0px rgba(0,0,0, .2);
        ul{ display: flex; width: 100%; flex-wrap: wrap;
          li{ width: 50%; position: relative; padding: 10px 0;
            &:before{ content: ''; width: 7px; height: 2px; background: $grey-black; position: absolute; display: block; left: 0; top: 19px; }
            p{ margin: 0; left: 20px; position: relative; font-size: rem(14); font-weight: $font-book; color: $grey-black; font-style: italic;
              &:nth-of-type(2){ font-weight: $font-bold; }
            }
            h3{ font-weight: $font-book; position: relative; left: 20px; color: $text; font-size: rem(22); color: $darkGreen;  padding-bottom: 2px; }
          }
          &.work{
            li{
              h3{ color: $poep; }
            }
          }
        }
      }
    }
  }
  &.project-featured{ padding: 80px 0 120px;
    .project-featured{
      &_image{ width: 85%; margin: 0 auto; position: relative; border-radius: 5px;
        &:after{ content: ''; width: 100%; height: 40px; top: 0; position: absolute; left: 0; display: block; background-image: url('../images/safari2.png'); background-position: center bottom; background-size: 100%; background-repeat: no-repeat; }
        &-info{ width: 100%;
          .subTitle{ color: $grey-black; font-weight: $font-book; font-size: rem(20); }
          .title{ padding: 30px 15px 20px; font-size: 3rem; letter-spacing: .5px; display: block; width: 100%; color: black; font-weight: $font-bold; line-height: 1; }
        }
        .figure{ width: 100%; height: calc(100% - 40px); position: absolute; left: 0; top: 40px; margin: 0; overflow: hidden;
          &.gif{
            img{ animation-play-state: paused; }
          }
        }
        img{ width: 100%; animation: scroll 7s infinite; animation-timing-function: ease-in-out; animation-direction: alternate; animation-play-state: paused; position: absolute; transform: translateZ(0);}
        p{ text-indent: -9999px; }
        // &:hover, &:focus-within{
        //   img{ animation-play-state: running; }
        // }
      }
      &_links{ margin: 0; display: flex; justify-content: center; align-items: center; width: 100%; flex-direction: column;
        .direct{ padding: 20px 30px; background: $blue; color: #FFF; margin: 0px 15px;  text-transform: uppercase; letter-spacing: .8px; transform: translateY(-50%); transition: .3s ease-in-out; border: 1px solid $blue;
          &:hover, &:focus{ background: white; color: $blue; border: 1px solid $blue; }
        }
        .overview{ text-decoration: underline;
          &:focus{ border: 1px solid $blue; }
        }
      }
      &_info{ width: 85%; margin: 40px auto;
        .button{ padding: 10px 15px; background: $blue; color: #FFF; margin: 0; text-transform: uppercase; letter-spacing: .8px; transition: .3s ease-in-out; border: 1px solid $blue; position: absolute; top: -90px; left: 0;
          &:hover, &:focus{ background: white; color: $blue; border: 1px solid $blue; }
        }
        p{ line-height: 1.25; font-size: rem(18); color: $text; font-weight: $font-book; }
      }
      &-container{
        &.active{
          img{ animation-play-state: running; }
        }
      }
    }
    &.absolute{ padding-top: 150px; }
  }
  &.projects{ padding: 60px 0;
    .row{ flex-direction: row; flex-direction: column; justify-content: center; max-width: calc(50rem) ; }
    .title{ padding: 15px 35px; font-size: 3rem; letter-spacing: .5px; display: block; width: 100%; margin-bottom: 50px; display: block; width: 100%; color: black; font-weight: $font-bold; line-height: 1; }
    .subTitle{ color: $grey-black; font-weight: $font-book; font-size: rem(20); padding-left: 20px; }
    .projects-single{ padding: 40px 40px 0; width: 100%; position: relative; margin: 20px 0; border: 1px solid rgba(0,0,0, .2); background: darken($background, 3%);
      .projects{
        &-header{ width: 100%; position: relative;
          .subTitle{ color: $grey-black; font-weight: $font-book; font-size: rem(18); padding: 0; }
          .title{ padding: 30px 15px 20px; font-size: 2.5rem; letter-spacing: .5px; margin-bottom: 0; display: block; width: 100%; color: black; font-weight: $font-bold; line-height: 1; }
          .tags{
            .tags-header{ font-size: rem(22); }
          }

        }
        &-image{ width: 100%; position: relative; position: relative; border-radius: 5px; box-shadow: 0px 0px 10px 2px rgba(0,0,0, .1);  transition: .3s ease-in-out;
          &:after{ content: ''; width: 100%; height: 40px; top: 0; position: absolute; left: 0; display: block; background-image: url('../images/safari2.png'); background-position: center bottom; background-size: 100%; background-repeat: no-repeat; }
          p{ text-indent: -9999px; }
          .figure{ width: 100%; height: calc(100% - 40px); position: absolute; left: 0; top: 40px; margin: 0; overflow: hidden; }
          img{ width: 100%; animation: scroll 7s infinite; animation-timing-function: ease-in-out; animation-direction: alternate; animation-play-state: paused; position: absolute; transform: translateZ(0);}
          a{
            &:focus{
              img{ animation-play-state: running;  border: 2px solid $blue;}
            }
            &:hover{
              img{ animation-play-state: running; }
            }
          }
          &:hover{ box-shadow: 0px 0px 10px 2px rgba(0,0,0, .3);  }
          &.gif{
            .figure img{ animation-play-state: paused; }
          }
        }
        &-info{ display: flex; justify-content: center; padding-bottom: 60px;
          p{ padding: 15px 0; line-height: 1.5; color: black; }
          a{ padding: 10px 20px; background: $blue; color: #FFF; margin: 0;  text-transform: uppercase; letter-spacing: .3px; position: absolute; bottom: 20px; transition: .3s ease-in-out; border: 1px solid $blue;
            &:hover, &:focus{ background: white; color: $blue; border: 1px solid $blue; }
          }
        }
      }
      &:hover, &:focus-within{
        img{ animation-play-state: running; }
      }
    }
  }
}
.row{ max-width: 75rem; display: flex; justify-content: flex-start; flex-wrap: wrap; width: 100%; position: relative; margin: 0 auto; flex-direction: row; }
:root{
  --height: 500px;
}

.tags{ width: 50%; display: flex; justify-content: flex-end; align-items: center; margin: 0 auto; padding-left: 15px; align-items: baseline; margin-bottom: 10px;  position: absolute; top: 0; right: 0;
  .tags-header{ font-weight: $font-bold; font-size: 1.5rem; line-height: 1; letter-spacing: 0; color: $text; padding-right: 5px; }
  ul{ display: flex; align-items: center; flex-wrap: wrap;
    li{ font-size: 1rem; line-height: 1; font-weight: $font-bold; color: $grey-black; padding: 0 0 0 5px;
      &:after{ content: ','; position: relative; }
      &:last-of-type:after{ content: none; }
    }
  }
}

@keyframes scroll {
  0%{ transform: translateY(0); }
  5%{  transform: translateY(0);  }
  95%{  transform: translateY(-100%) translateY(var(--height));  }
  100%{  transform: translateY(-100%) translateY(var(--height)); }
}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}
